//compress: true

@import "vars";

html{
    height: 100%;
    color: @gray;
}

header{
    width: 100%;
}

body{
    margin-top: 3.3%;
    background-color: @white;
    padding: 3.3%s;
    display: grid;
    margin-left: 6.6%;
}


@import "blocks/button";
@import "blocks/sections";
@import "blocks/text";
@import "blocks/images";
@import "blocks/lists";
@import "blocks/adapt";




