// main: ../style.less
@media screen and (max-width: 1000px)  {
    
    html {
        height: 100%;
    }

    body {
        padding: 2%;
    }
    
    #maincity__info{
        display: block;
    }
    
    #maininfo{
        width: 100%;
    }
    
    #favorite{
        display: block;
    }
    
    input{
        font-size: 4vmin;
        width: 85%;
        padding: 1vmin;
        margin-left: 0;
        margin-top: 3vmin;
    }
    
    #sidecities{
        grid-template-columns: 1fr;
    }
    
    .standart{

    font-size: 2.5vmax;
    }

    .value{
    font-size: 2.5vmax;
    }
}