// main: ../style.less
@media screen and (max-width: 1000px)  {
    
    #maincity__info{
        grid-template-columns: 1fr;
    }
    
    
    #favorite{
    grid-template-columns: 1fr;
    }
    
    input{
        font-size: 4vmin;
        width: 85%;
        padding: 1vmin;
        margin-left: 0;
        margin-top: 3vmin;
    }
    
    #sidecities{
        grid-template-columns: 1fr;
    }
    
    .standart{

    font-size: 2.5vmax;
    }

    .value{
    font-size: 2.5vmax;
    }
    
    #add__button{
    margin-top: 5%;
    }
}