// main: ../style.less


#currentlocation__button{
    outline: none;
    display: inline;
    background-color: @gray-light;
    border-radius: 2vmin;
    font-size: 3vmin;
    font-weight: 300;
    color: @black-light;
    margin-left: 10%;
    padding: 2vmin;
}

#add__button{
    outline: none;
    display: inline;
    background-color: gray;
    border-radius: 50%;
    border-color: gray;
    width: 2.1em;
    height: 2.1em;
    font-size: 1.5vmax;
    color: white;
    float: right;
}

.close__button{
    outline: none;
    display: inline;
    float: right;
    background-color: gray;
    border-radius: 50%;
    width: 2.1em;
    height: 2.1em;
    font-size: 1.5vmax;
    color: white;
}