// main: ../style.less

.main__info {
    font-size: 75%;
    width: 100%;
    margin-bottom: 3vmin;
    margin-left: 0;
    padding-left: 0;
}

ul.info li {
    background-color: @gray;
    padding: 10px;
    margin-bottom: 10px;
    height: 2vmax;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.param {
    background-color: @gray;
    padding: 10px;
    margin-bottom: 10px;
    height: 2vmax;
    list-style-type: none;
}


.info {
    margin-left: 0;
    padding-left: 0;
}
