// main: ../style.less

#maincity{
    display: block;
}
#maincity__info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5vmax;
    align-items: center;
}

#sidecities{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5vmax;
    grid-row-gap: 4vmax;
    
}
#favorite{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10%;
}

#add{
    display: inline-flex;
    gap: 5%
}






