// main: ../style.less

#maincity{
    display: block;
    width: 100%;
}
#maincity__info{
    display: flex;
}

#sidecities{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5vmax;
    
}
#favorite{
    display: flex;
    align-items: center;
}

.add{
    width: 100%;
}

.sidecity__info{
    display: inline;
    width: 90%;
    float: left;
    margin-top: 3em;
    
}

