// main: ../style.less

h2 {
    font-weight: 500;
    font-size: 8vmin;
}

h1 {
    font-size: 8vmin;
    font-weight: 800;
    margin-bottom: 0;
    margin-top: 0;
}

#currenttemp {
    font-size: 10vmax;
    margin-left: 2%;
    margin-block: 0;
}

.standart {
    color: @white;
    font-size: 2vmax;
    margin: 0;
}

.value {
    color: @white;
    font-size: 2vmax;
    margin: 0;
}


.inputbox {
    font-size: 2vmin;
    width: 80%;
    text-align: center;
    padding-left: 5vmin;
    padding-right: 5vmin;
    padding-top: 2vmin;
    padding-bottom: 2vmin
}

.location {
    display: inline;
    font-size: 3vmax;
}

.temp {
    display: inline;
    margin-left: 2vmax;
    font-size: 3.5vmax;
}


.param {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
