// main: ../style.less

h2{
    font-weight: 500;
    font-size: 8vmin;
}

h1{
    font-size: 8vmin;
    font-weight: 800;
}

#currenttemp{
    display: inline;
    font-size: 6vmax;
    margin-left: 2%;
}

.standart{
    color: @white;
    font-size: 1.5vmax;
    margin: 0;
}

.value{
    color: @white;
    font-size: 1.5vmax;
    margin: 0;
}


input{
    font-size: 2vmin;
    width: 100%;
    padding-left-right: 1vmin;
    padding-top-bottom: 1.5vmin;
}

.location{
    display: inline;
    font-size: 3vmax;
}

.temp{
    display: inline;
    margin-left: 2vmax;
    font-size: 3.5vmax;
}


.param{
    display: flex;
    justify-content: space-between;
    align-items: center;
}